<div class="container games">

  <h1><a href="#"><img
        id="logoTitre"
        src="/images/diamond.png"
        alt="Titre"
      /></a>
    Games</h1>

  </div>
  <div id="link-add-game">
    <a href="/game/new">Add a new game</a>
  </div>
  <ul class="gamesCards">
        {{#each games}}
        <li>
        <a href="/game/{{_id}}" class="gamesCard">
          <img
            src={{cover}}
            class="gamesCard__image"
            alt="cover image of {{title}}"
          />
          <div class="gamesCard__overlay">
            <div class="gamesCard__header">
              <div class="gamesCard__header-text">
                <h3 class="gamesCard__gameName">{{title}}</h3>
              </div>
            </div>
            <p class="gamesCard__description">
              <ul>
              {{#each this.categoriesID}}
                <li>{{name}}</li>
              {{/each}}
              </ul>
            </p>
          </div>
        </a>
      </li>
      {{/each }}
   </ul>

  <!--TEST ALAN -->
  {{!-- <a href="/game/new">Add a new game</a>
  <div> 
    coucou
    {{#each games}}
    <a href={{_id}}>title:{{title}}</a>
    cover:<img src={{cover}}>
    {{#each this.categoriesID}}
    categories:{{name}}
    {{/each}}
    {{/each }}
  </div> --}}
  <!--TEST ALAN -->


