{{!-- game --}}
<div class="game-details">
    <h1>Title : {{game.title}}</h1>
    <div>
        <img id="game-details-img" src={{game.cover}}>
    </div>
    
    
    <ul>
    {{#each game.categoriesID}}
    <li><a href="/game/category/{{_id}}">{{name}}</a></li>
    {{/each}}
    </ul>
    <a href="/game/{{game._id}}/edit">Edit</a>
    <a href="/game/{{game._id}}/newcategory">New Category</a>
</div>
