game
<img src={{game.cover}}>
{{game.title}}
<ul>
{{#each game.categoriesID}}
<li><a href="/game/category/{{_id}}">{{name}}</a></li>
{{/each}}
</ul>
<a href="/game/{{game._id}}/edit">Edit</a>
<a href="/game/{{game._id}}/newcategory">New Category</a>

