<div class="wrapper contact">
  <div class="parallax__group hero-container">
    <div class="parallax__layer full3"></div>
    <div class="parallax__layer back4"></div>
    <div class="parallax__layer objets"></div>
    <div class="parallax__layer sol"></div>
    <div class="parallax__layer cat"></div>
    <div class="parallax__layer people3"></div>
    <div class="parallax__layer hero-text">

      <div class="hello-container">
        <h1>YES</h1>
      </div>

    </div>
  </div>
  <div class="parallax__group run-container">


<!--TEST ALAN -->
{{!-- <div> 
  {{#each runs}}
  cover:{{gameID.cover}}<img src={{gameID.cover}}>
  username:{{userID}}
  time:{{time_seconds}}
  category:{{categoryID.name}}
  {{/each }}
</div> --}}
<!--TEST ALAN -->


<div class="home">
  <h1>
    Latest Runs
  </h1>
  <ul class="cards">
      {{#each runs}}
      <li>
      <a href="" class="card">
        <img
          src="{{gameID.cover}}"
          class="card__image"
          alt=""
        />
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path
              ></path></svg>
            <img
              class="card__avatar"
              src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png"
              alt=""
            />
            <div class="card__header-text">
              <h3 class="card__userName">{{userID.username}}</h3>
            </div>
          </div>
          <p class="card__description">YAY adipisicing elit. Asperiores,
            blanditiis?</p>
        </div>
      </a>
    </li>
     {{/each }}
  </ul>

</div>
</div>