{{! HAS TO BE AUTHentificated }}


<!--TEST ALAN -->
 <div> 
  name:{{user.username}}
  coins:{{user.coins}}
  premium:{{#if user.premium}}
        yes
        {{/if}}
    email:{{user.email}}
   avatar: <img src={{user.avatar}}>
    country:{{user.country}}
</div>
<a href="/user/{{user._id}}/edit">Edit Profile</a>
<div>
    {{#each runs}}
    /////////////
    time:{{time_seconds}}
    date:{{date}}
    video:{{video}}
    category:{{categoryID.name}}
    game:{{gameID.title}}
    //////////////
{{/each}}    
</div>
<!--TEST ALAN -->

<div class="profile-page">

  <section class="userSection">
    <div class="flex-child one" >
      <img
        class="profile-userImg"
        src="https://i.pinimg.com/originals/e6/dc/33/e6dc336c9e45d825db8fe7305ed729ee.png"
        alt="User image"
      />     
    </div>
    <div class="flex-child two">
       
          <h1>
            <span id="greetings">
            </span>
            {{user.username}}
          </h1>
           <ul class="userInfo">
              <li>{{user.coins}} coins</li>
              <li>Premium 🏅 : {{#if user.premium}}
        yes
        {{/if}} </li>
              <li>Mexico</li>
            </ul>
      
    </div>
     {{!-- <div class="flex-child three">
      --}}
    </div>
  </section>

  <section class="profile-user-runs">
    <div class="profile-run">

      <img
        src="https://res.cloudinary.com/dsbxyd6o2/image/upload/v1659370122/Stray-game_lmlvqd.jpg"
        alt="game speedrun image"
      />
      <h4 id="profile-rank">10</h4>
      <h4>Stray </h4>

      <div class="profile-run-info">
        <h5>01:31:18 </h5>
        <h5>Category</h5>
        <h5>05/04/2021</h5>
        <h5> <i class="fab fa-youtube fa-lg"></i></h5>
      </div>

    </div>
  </section>

</div>

<script src="/js/profile.js"></script>